<h1> HELLO FROM INDEX </h1>

<ul>
    <% @users.each do |u| %>
        <li><%= link_to u.name, user_path(u) %></li>
<<<<<<< HEAD
        <li><%= image_tag u.picture, alt: "Justin's Fabulous Picture" %></li>
=======
>>>>>>> Justin
        <li><%= u.bio %></li>

        <br><br>
    <% end %>
<<<<<<< HEAD
</ul>
=======
</ul>
>>>>>>> Justin
