<h1>THIS IS MAINE</h1>

<h3><%= link_to "USERS", users_path %></h3>

<br>

<h3><%= link_to "CATEGORIES", categories_path %></h3>

<br>

<h3><%= link_to "QUESTIONS", questions_path %></h3>

resize user photos
add "Add" button to questions_index
CLICKABLE FORMS FOR DISPLAYING QUESTIONS => SUCCESS AND FAILURE CONFIRMATION
FIX ENCODING OF API


have a place for all of a users questions (and ability to make multiple sets)
     - make sure that user can add question to multiple sets
CRUD for users
VIEWS SPRUCING


multiplayer (user+guests)   
     - ask the same question
     - "listen", p  u  r  q buzz-in
           - they can answer
           - if incorrect, give other players a chance to buzz in

    - ask the same question
         - everyone answers, everyone is scored

pts/per/round AND DISPLAY    
pts persisting throughout users lifetime-->(leaderboard??)