<h1> <%= @user.name %>'s Show Page </h1>
<br>
<br>

<img src="<%= @user.picture %>", alt: "Well Hello There", height = 512 > <br>


<%= @user.bio %>



<!-- we have our trivia sets here instead -->