<h1>WELCOME HOME</h1>
<h2><%= @user.name%></h2>


<!--<%= image_tag "https://www.pojo.com/wp-content/uploads/2018/05/hello-there.jpg", alt: "Well Hello There" %>-->


<%= link_to(controller: 'sessions', action: 'new') { 'Log In' } %> Or <%= link_to 'Sign Up', signup_path %>

